<div class="container">
  <h4 class="mb-4">Artist Artist</h4>
  <%= form_with(model: @artist,
    data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper'}) do |form| %>
    <%= render "artist_and_music_fields", form: form %>
    <div class="row mb-3">
      <div class="col-md-10">
        <%= form.submit "Create", class: "btn btn-primary btn-lg offset-6" %>
      </div>
    </div>

  <% end %>
</div>
